.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* work_swiper_btn */
.work .content .main_cont .swiper_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 0px;
    left: 150px;
}
.work .content .main_cont .swiper_btn .work_prev,
.work .content .main_cont .swiper_btn .work_next {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.work .content .main_cont .swiper_btn .work_prev i,
.work .content .main_cont .swiper_btn .work_next i {
    display: inline-block;
    width: 10px;
}
.work .content .main_cont .swiper_btn .work_pagenation {
    font-size: 1em;
}
.work .content .main_cont .swiper_btn .work_pagenation .swiper-pagination-current {
    font-size: 2em;
}

/* 테블릿 */
@media (min-width: 768px) and (max-width: 1024px) {
    /* work_swiper_btn */
    .work .content .main_cont .swiper_btn {
        position: static;
        bottom: auto;
        left: auto;
        width: max-content;
    }
}


/* 모바일 */
@media (max-width: 767px) {
    /* work_swiper_btn */
    .work .content .main_cont .swiper_btn {
        position: static;
        bottom: auto;
        left: auto;
        width: max-content;
        margin: 0 auto;
    }
}